<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Magento_Backend::content">
                                    <resource id="Yupple_Brand::brand" title="Custom Admin Brand">
                                            <resource id="Yupple_Brand::add_brand" title="Add Brand" sortOrder="1" />
                                            <resource id="Yupple_Brand::manage_brand" title="Manage Brand" sortOrder="2" />
                                            <resource id="Yupple_Brand::configuration" title="Configuration" sortOrder="3" />
                                    </resource>
                                </resource>
                    
                    <resource id="Magento_Backend::stores">
                        <resource id="Magento_Backend::stores_settings">
                            <resource id="Magento_Config::config">
                                <resource id="Yupple_Brand::system_config" title="Admin Brand Section" />
                            </resource>
                        </resource>
                    </resource>
             </resource>        
       </resources>
    </acl>
</config>
