<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="yupple_brand" frontName="yupple_brand">
            <module name="Yupple_Brand" before="Magento_Backend" />
        </route>
    </router>
</config>
