<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
    <system>
        <tab id="brand" translate="label" sortOrder="1">
            <label>Yupple Brand</label>
        </tab>
        <section id="brandsection" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Yupple Brand</label>
            <!--tab>Brand Management</tab-->
            <resource>Yupple_Brand::system_config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable_in_frontend" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable In Frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="head_title" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Head Title</label>
                    <comment>Fill head title of Brand list page at here</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>